<footer class="footer mt-auto py-3 text-center">
  <div class="container">
    <h6 class="text-center mb-3">&nbspVictor Menezes - CEO</h6>
    <!-- <h6 class="text-center mb-3"><i class="bi bi-emoji-smile fs-4 align-middle"></i>&nbspVictor - MCM Informática</h6> -->
    <h6 class="text-center mb-3"><i class="bi bi-whatsapp fs-4 align-middle"></i>&nbsp(21) 98464-9873</h6>
    <h6 class="text-center mb-3"><i class="bi bi-envelope-at fs-4 align-middle"></i>&nbspvictormenezes@outlook.com</h6>
  </div>
  <span class="text-muted">© 2024 MCM Informática</span>
  </div>
</footer>