{% extends 'base.html' %}
{% block title  %}Voip - MCM Informática{% endblock %}

{% block content %}

<div class="container mt-5">

  <h1 class="text-center mb-3">MCM Informática</h1>
        <br>
        <div>
            <h2 class="text-center mb-3">🔊 5 Vantagens da Telefonia VoIP para Sua Empresa! 📞</h2>
            <br>
            <p>Você já considerou implementar a telefonia VoIP no seu negócio? Na MCM Informática, sabemos o quanto a
                tecnologia certa pode transformar sua empresa.</p>
            <p>Aqui estão cinco vantagens da telefonia VoIP que podem impulsionar sua produtividade e reduzir custos:
            </p>

            <p><strong>* Redução de Custos 📉&nbsp:</strong>&nbspLigações mais baratas, especialmente para longas
                distâncias, com tarifas muito menores que as das linhas telefônicas tradicionais.</p>
            <p><strong>* Flexibilidade📱&nbsp:</strong>&nbspFaça e receba chamadas de qualquer lugar, usando
                dispositivos conectados à internet, seja um smartphone, tablet ou computador.</p>
            <p><strong>* Escalabilidade 📈&nbsp:</strong>&nbspAdicione ou remova linhas conforme a necessidade, sem a
                complexidade de uma infraestrutura física adicional.</p>
            <p><strong>* Funcionalidades Avançadas 🌐&nbsp:</strong>&nbspAcesso a recursos como correio de voz, chamadas
                em conferência, gravação de chamadas e encaminhamento automático, tudo integrado em um só sistema.</p>
            <p><strong>* Integração com Outros Sistemas 🔄&nbsp:</strong>&nbspConecte facilmente com outras ferramentas
                de comunicação e software de gestão, melhorando a eficiência do seu fluxo de trabalho.</p>

            <p>Na MCM Informática, estamos aqui para ajudar sua empresa a tirar o máximo proveito das novas tecnologias.
            </p>
            <p>Quer saber mais sobre como a telefonia VoIP pode beneficiar seu negócio?</p>
            <br>
</div>

<div class="card-title text-center mb-4">
  <h3 class="mb-0">Entre em contato conosco!&nbsp<i class="bi bi-whatsapp fs-4 align-middle"></i>&nbsp<i
          class="bi bi-phone fs-4 align-middle"></i>&nbsp<i class="bi bi-envelope-at fs-4 align-middle"></i>
  </h3>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Formulário de Inscrição&nbsp<i class="bi bi-person-vcard fs-4 align-middle"></i></h5>
            <form method="post">
                {% csrf_token %} 
              <div class="mb-3">
                <label for="username" class="form-label">Nome completo:</label>
                <input type="text" class="form-control" id="username" name="nome_completo" required>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input type="text" class="form-control" id="username" name="email" required>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Telefone:</label>
                <input type="number" class="form-control" id="username" name="telefone" required>
              </div>
                <div class="mb-3">
                  <label for="username" class="form-label">CPF/CNPJ:</label>
                  <input type="number" class="form-control" id="username" name="cpf" required>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right fs-4 align-middle"></i>&nbspEnviar</button>
              </div>
            </form>
            {% if form.errors %}
              <div class="alert alert-danger mt-4">
                <ul class="mb-0">
                  {% for field in form %}
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>    
{% endblock %}
